.productDetailContainer {
  display: flex;
  flex-direction: row;
  margin: 30px;
}

.leftPanel {
  display: inline-flex;
  flex-direction: row;
  max-width: 500px;
  max-height: 800px;
}

.styleThumbnails {
  display: flex;
  flex-direction: column;
  max-width: 90px;
  max-height: 405px;
  min-width: 90px;
  overflow-x: auto;
}

.styleThumbnail {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.styleThumbnail:hover {
  cursor: pointer;
}

.defaultViewImage {
  width: 300px;
  height: 400px;
  object-fit: cover;
  margin: 5px;
  border-color: black;
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.productInfoContainer {
  display: flex;
  flex-direction: column;
}

.styleSelector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(35%);
  height: 70px;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow-x: auto;
}

.styleItem {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.styleItem:hover {
  cursor: pointer;
}

.addToCart {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.selectors {
  margin-bottom: 10px;
}

.quantitySelector {
  max-width: 30px;
}

.cartButton {
  max-width: 20%;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 55px;
  border-radius: 10px;
  border-right: 1px solid #516885;
  background-color: var(--color-primary-darker);
  color: white;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
}

.cartButton:hover {
  background-color: var(--color-primary-darkest);
  transition: 0.3s;
  cursor: pointer;
}

.cartWrapper {
  display: flex;
  flex-direction: row;
}

.arrows {
  width: 50px;
  height: 50px;
  align-self: center;
}

.arrowsNonClick {
  width: 50px;
  height: 50px;
  align-self: center;
}

.arrows:hover {
  cursor: pointer;
}

.modal_background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
}

.model_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.largeViewImage {
  width: 800px;
  height: 1000px;
  object-fit: cover;
  margin: 5px;
  border-color: black;
}

.closeButton {
  color: white;
}

.closeButton:hover {
  cursor: pointer;
}