
.card {
  flex: 0 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  /* min-width: 300px;
  max-width: 301px;
  min-height: 500px; */
  width: calc(24.6%);
  height: calc(25%);
  max-height: fit-content;
  flex-direction: column;
  background: #edeff0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
}

.inner {
  text-align: center;
  min-height: 485px;
  max-height: 530px;
  padding: 1em 1em 0.65em;
  background-color: #9484cd;
  /* margin-bottom: 1em; */
}

 .image {
  /*width: 200px;  width of container */
  width: 80%;
  height: 65%;
  min-height: 199px;
  height: 200px; /* height of container */
  object-fit: cover;
  border: 1px solid rgb(238, 225, 225);
  border-radius: 5px;
}

.item_title {
  font-size: 1.85em;
  margin-bottom: 0.15em;
  line-height: 1.2;
  margin-top: 5px;
  height: 71px;
  cursor: pointer;
}

.h4 {
  color: #384047e9;
  margin-top: auto;
  margin-bottom: 0;
  padding: 5px;
  text-transform: uppercase;
}

.par {
  color: #222;
  font-size: 1.15em;
  margin-bottom: 1em;
  line-height: 1.4;
}


.button_compare {
  /* display: block; */
  width: 60%;
  height: 40%;
  /* margin: 10px 10px 10px 60px; */
  margin: 1% 1%;
  padding: 7px;
  background-color: #9484cd;
  border-radius: 5px;
  border: 2px solid rgb(238, 225, 225);
  color: #222;
  /* letter-spacing: 2px; */
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
  cursor: pointer;
}