:root {
  --color-font: #384047e9;
  --font-family: 'Montserrat', sans-serif;
  --card-background-color: #edeff0;
  --theme-background-color: #9484cd;
  --font-color: #384047e9;
  }

.card {
  flex: 0 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: calc(24.6%);
  height: calc(25%);
  max-height: fit-content;
  flex-direction: column;
  background: var(--card-background-color);
  color: var(--font-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
  font-family: var(--font-family);
}

.inner {
  font-family: var(--font-family);
  color: var(--font-color);
  text-align: center;
  max-height: 100%;
  padding: 1em 1em 0.65em;
  background-color: var( --theme-background-color);
  font-size: 1vw;
}

 .image {
  width: 80%;
  min-height: 199px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.item_title {
  font-size: 1.5vw;
  margin-bottom: 0.15em;
  line-height: 1.2;
  margin-top: 5px;
  height: 71px;
  cursor: pointer;
}

.h4 {
  margin-top: auto;
  margin-bottom: 0;
  padding: 5px;
  text-transform: uppercase;
  font-size: 1vw;
}

.par {
  color: #222;
  font-size: 1.15vw;
  margin-bottom: 1em;
  line-height: 1.4;
}

.button_compare {
  font-family: var(--font-family);
  width: calc(60%);
  height: calc(40%);
  margin: 1% 1%;
  padding: 7px;
  background-color: var(--theme-background-color);
  border-radius: 5px;
  border: 2px solid rgb(238, 225, 225);
  color: #222;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1vw;
}