
.card {
  flex: 0 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  min-width: 300px;
  max-width: 301px;
  min-height: 500px;
  max-height: fit-content;
  flex-direction: column;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

.inner {
  text-align: center;
  min-height: 485px;
  max-height: 530px;
  padding: 1em 1em 0.65em;
  background-color: #9484cd;
  /* margin-bottom: 1em; */
}

 .image {
  width: 200px; /* width of container */
  min-height: 199px;
  height: 200px; /* height of container */
  object-fit: cover;
  border: 3px solid rgb(238, 225, 225);
  border-radius: 5px;
}

.item_title {
  font-size: 1.85em;
  margin-bottom: 0.15em;
  line-height: 1.2;
  margin-top: 5px;
  height: 71px;
  cursor: pointer;
}

.h4 {
  color: #384047e9;
  margin-top: auto;
  margin-bottom: 0;
  padding: 5px;
}

.par {
  color: #222;
  font-size: 1em;
  margin-bottom: 1.85em;
  line-height: 1.4;
}

