.rating {
  text-align: center;
  min-height: fit-content;
  width: 1vw;
  height: 1vw;
}

.h4 {
  color: #2f283ee9;
  margin-top: auto;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 1vw;
}

