.header {
  display: flex;
  background-color: var(--color-primary);
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: space-between;
  color: white;
  /* Darya's changes */
  z-index: 100;
}

.header h3 {
  margin-left: 15px;
}

.header p {
  margin-right: 40px;
}
