.header {
  display: flex;
  background-color: var(--color-primary);
  /* padding: 10px; */
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: space-between;
  color: white;
  /* Darya's changes */
  z-index: 100;
}

.logo_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 110px;
  height: auto;
}

.header h3 {
  margin-left: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-transform: uppercase;
}

.header p {
  margin-right: 40px;
}
