body {
  font-family: 'Montserrat', sans-serif;
  background-color: white !important;
  padding-top: 80px;
}

:root {
  --color-light: #9484cd;
  /*the base color*/

  --color-primary: #8374b8;
  --color-primary-darker: #5b4d8d;
  --color-primary-darkest: #2f2749;
  --border-radius-buttons: 10px;
  --answer-text-size: 14px;
}


.ratingsAndReviewsContainer {
  margin: 15px;
  display: flex;
}

.ratingsContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.ReviewsContainer {
  flex-grow: 3;
}

.ReviewContainer {
  border-bottom: 1px solid #000000;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.ReviewStarAndDateContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.dateSpan {
  color: rgb(80, 80, 80);
}

.ReviewRating {
  font-weight: bold;
}

.ReviewSummary {
  margin-bottom: 20px;
}
.ReviewSummarySpan {
  font-size: larger;
  font-weight: bold;
}
.ReviewBody {
  color: rgb(80, 80, 80);
  margin-bottom: 20px;
}

.ReviewUserSpan {
  font-size: smaller;
  font-weight: 200;
}

.ratingsNumberAndStarsContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

 .ratingsNumber {
  font-weight: 900;
  font-size: xx-large;
  margin: 20px;
}

.ratingBreakdown {
  margin-bottom: 20px;
}

.helpfulContainer {
  display: flex;
  justify-content: space-between;
}

.helpfulSpan {
  color: rgb(80, 80, 80);
  margin: 2px;
}

.reviewRecommendContainer {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;

}

.ratingsRecommend {
  color: rgb(80, 80, 80);
  margin-bottom: 10px;
}


.usernameAndHelpful {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.square_button {
  color: #3D424A;
  margin: 5px;
  background-color: white;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 40px;
  width: 40px;
  border: 1px solid #dddddd;
  text-align: center;
  text-decoration: none;
}



.button {
  /* background-color: var(--color-primary-darker); */
  background-color: var(--color-primary);
  border: none;
  border-radius: var(--border-radius-buttons);
  font-weight: 700;
  color: white;
  font-size: medium;
  padding: 12px;
  margin-right: 20px;
  /* padding: .6em 0.5em .5em .5em; */
  text-transform: uppercase;
  text-align: center;
}

.button:hover {
  background-color: var(--color-primary-darker);
  transition: 0.5s;
}

.button_small {
  background-color: var(--color-primary);
  border: none;
  border-radius: var(--border-radius-buttons);
  font-weight: 500;
  color: white;
  font-size: medium;
  padding: 15px;
  margin: 7px;
  text-transform: uppercase;
  text-align: center;
}

.button_small:hover {
  background-color: var(--color-primary-darker);
  transition: 0.5s;
}


.addReviewHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addReview input:invalid,  .addReview textarea:invalid, .addReview input:invalid:required, .addReview textarea:invalid:required  {
  border: 1px solid red;
  background-color: rgb(250, 192, 190);
}

.addReview {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 15px;
  background-color: #ffffff;
  gap: 10px;
  border-radius: var(--border-radius-buttons);
}

.reviewForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reviewFormCharacteristics {
  display: flex;
  flex-direction: row;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
}

.modal_background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(49, 49, 49, 0.7);
}

.modal_content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 5px;
}

a:link {
  color: #9484cd;
}

.select {
  text-align: center;
	display: block;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: white;
	line-height: 1.3;
	/* padding: .6em 1.4em .5em .8em; */
  padding: .6em 0.5em .5em .5em;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	/* box-shadow: 0 1px 0 1px rgba(0,0,0,.04); */
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
  text-transform: uppercase;
	appearance: none;
	background-color: var(--color-primary);
	/* background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, var(--color-primary) 0%, var(--color-primary-darker) 100%); */
	/* background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%; */
}
.select::-ms-expand {
	display: none;
}
.select:hover {
	border-color: #888;
}
.select:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: white;
	outline: none;
}
.select option {
	font-weight:normal;
}

.label_bold {
  font-weight: bold;
}

.recommendSelectRadio {
  display: flex;
  gap: 20px;
}

.starsAndBars {
  display: flex;
  gap: 10px;
}

.ratingStarText {
  display: flex;
  flex-direction: column;
}

.characteristicSpanDescriptions {
  display: flex;
  gap: 10px;
}

.characteristicBarContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.characteristicBarSpanContainer {
  display: flex;
}

.characteristicBarSpan {
  font-size: 16px;
  font-weight: 550;
}

.characteristicDescriptionContainer {
  display: flex;
  justify-content: space-between;
}