body {
  font-family: 'Montserrat', sans-serif;
  background-color: white !important;
  padding-top: 80px;
}

:root {
  --color-light: #9484cd;
  /*the base color*/

  --color-primary: #8374b8;
  --color-primary-darker: #5b4d8d;
  --color-primary-darkest: #2f2749;
  --border-radius-buttons: 10px;
  --answer-text-size: 14px;
}


.ratingsAndReviewsContainer {
  margin: 15px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

.ratingsContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.ReviewsContainer {
  flex-grow: 2;
}

.ReviewContainer {
  border-bottom: 1px solid #000000;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.ReviewStarAndDateContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.ReviewRating {
  font-weight: bold;
}

.ReviewSummary {
  margin-bottom: 20px;
}
.ReviewSummarySpan {
  font-size: larger;
  font-weight: bold;
}
.ReviewBody {
  margin-bottom: 20px;
}

.ReviewUserSpan {
  font-size: smaller;
  font-weight: 200;
}

.ratingsNumberAndStarsContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

 .ratingsNumber {
  font-weight: 900;
  font-size: xx-large;
  margin: 20px;
}

.ratingBreakdown {
  margin-bottom: 20px;
}

.helpfulContainer {
  display: flex;
  justify-content: space-between;
}

.helpfulSpan {
  margin: 2px;
}

.reviewRecommendContainer {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;

}

.ratingsRecommend {
  margin-bottom: 10px;
}


.usernameAndHelpful {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.square_button {
  color: #3D424A;
  margin: 5px;
  background-color: white;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 40px;
  width: 40px;
  border: 1px solid #dddddd;
  text-align: center;
  text-decoration: none;
}



.button {
  background-color: var(--color-primary-darker);
  border: none;
  border-radius: var(--border-radius-buttons);
  font-weight: 700;
  color: white;
  font-size: medium;
  padding: 20px;
  margin-right: 15px;
}

.button:hover {
  background-color: var(--color-primary-darkest);
  transition: 0.5s;
}


.addReviewHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addReview input:invalid,  .addReview textarea:invalid, .addReview input:invalid:required, .addReview textarea:invalid:required  {
  border: 1px solid red;
  background-color: rgb(250, 192, 190);
}

.addReview {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  background-color: #ffffff;
  gap: 10px;
}

.reviewForm {
  display: flex;
  flex-direction: column;
}

.reviewFormCharacteristics {
  display: flex;
  flex-direction: row;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
}

.modal_background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(49, 49, 49, 0.7);
}

.modal_content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 5px;
}

a:link {
  color: #9484cd;
}